body {
    height: 100vh;
}

.bg-image {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 0;
    display: block;
    /* The image used */
    background-image: url('../imgs/x.jpg');

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card {
    background-color: rgba(0, 0, 0, 0.4);
    border: 2px solid rgba(0, 0, 0, 0.1);
}

.card-body {}

.card-title {
    background-color: rgba(14, 12, 12, 0.7);
    padding: 20px;
    color: white;
    letter-spacing: 10px;
}

.opacityPulse-css {
    animation: opacityPulse 2s ease-out;
    animation-iteration-count: infinite;
    opacity: 1;
}

.card-text {
    background-color: rgba(49, 149, 243, 0.4);
    padding: 20px;
    border-radius: 5px;
    display: block;
    border: 3px solid black;
    width: 100%;
    overflow: hidden;
    height: fit-content;
    color: white;
    font-size: 20px;
    font-weight: 800;
}

.category {
    color: rgb(48, 229, 94);
    font-weight: 800;
    padding: 10px;
    text-align: center;
    font-size: 2rem;
}

#btn-submit {
    font-weight: 800;
    letter-spacing: 6px;
    width: 60%;
    height: 50px;
}

.btn-dark {
    background-color: rgba(14, 12, 12, 0.7);
}

.btn-dark:hover {
    background-color: rgba(0, 0, 0, 0.9);
}

.footer {
    background-color: #eeeeee;
    padding: 20px;
    font-weight: 700;
    letter-spacing: 3px;
    color: #3b39b0;
}