body {
  background-color: #32e0c4;
  /* background: url('../imgs/video.mp4'); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.card {}

.card-body {}

.card-title {
  padding: 20px;
  color: white;
  letter-spacing: 10px;
}

.opacityPulse-css {
  animation: opacityPulse 2s ease-out;
  animation-iteration-count: infinite;
  opacity: 1;
}

.card-text {
  background-color: #32e0c4;
  padding: 20px;
  border-radius: 5px;
  display: block;
  border: 3px solid black;
  width: 100%;
  overflow: hidden;
  height: fit-content;
  color: #06352e;
  font-weight: 800;
  letter-spacing: 2px;
}

#btn-submit {
  /* background: #4add02; */
  /* color: #4add02; */
  font-weight: 800;
  letter-spacing: 6px;
  width: 60%;
  height: 50px;
}

.footer {
  background-color: #eeeeee;
  /* height: 20px; */
  padding: 20px;
  font-weight: 700;
  letter-spacing: 3px;
  color: #3b39b0;
}